@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: abigral;
    }
}

html, body {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px
}
body::-webkit-scrollbar-track {
    background-color: #666;
}
body::-webkit-scrollbar-thumb {
    background-color: #333;
}




/* custom classes and animations*/

.text-animated-bg {
    background-image: url('../public/gif/text-bg.gif');
	background-size: 100% 100%;
	animation: gradient 15s ease infinite;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.scroll-text {
    animation: scrollText 10s infinite linear;
}
@keyframes scrollText {
    from {
        transform: translateX(0%);
   }
    to {
        transform: translateX(-50%);
   }
}